
@{
    ViewBag.Title = "Failed";
}

<h2>Failed</h2>
<div class="align-content-center">
    <div class="border">
        <h1 class="display-1">CCFD</h1>
        <p>
            Transaction failed!!! Please contact your credit card provider for further assistant.
        </p>
    </div>
</div>

