
@{
    ViewBag.Title = "Index";
}

<h2>Authorize</h2>
<div class="align-content-center">
    <div class="border">
        <h1 class="display-1">CCFD</h1>
        <p>
            You do not have any pending transaction(s).
        </p>
    </div>
</div>

