@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Midrand<br />
    Johannesburg, SA<br />
    <abbr title="Phone">P:</abbr>
    +27723457689
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ccfd.com">Support@ccfd.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ccfd.com">Marketing@ccfd.com</a>
</address>